body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #111;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  background: #2c2c;
  color: #fff;
  padding: 1.1em 2em;
  border: none;
  border-radius: 50px;
  outline: none;
  text-transform: uppercase;
  letter-spacing: .1em;
  transition: all 0.5s ease;
}

button:hover {
  background: #39a0ca;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s ease;
}

h1 {
  letter-spacing: 0.1em;
}