body {
  background-color: #111;
  color: #ccc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  display: block;
  margin: 1em auto;
  background: #444;
  color: #ccc;
  padding: 1.1em 2em;
  border: none;
  border-radius: 1em;
  outline: none;
  text-transform: uppercase;
  letter-spacing: .15em;
  transition: all 0.5s ease;
}

button:hover {
  background: #39a0ca;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s ease;
}

h1 {
  text-align: center;
  letter-spacing: 0.2em;
}