body {
  background-color: #333;
  font-size: 20px;
}

.tabs {
  display: grid;
}

[role="tablist"] {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

[role="tabpanel"] {
  background: #3cda;
  padding: 2rem;
}

button {
  font-size: 20px;
  padding: 8px;
  background-color: lightgray;
  border: 0;
  color: #333;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  outline: none;
}

button[aria-selected="true"] {
  background: #3cda;
  font-weight: bold;
}