.form {
  flex: 1;
  margin: 1rem;
  padding: 1.4rem;
  border: .1rem solid $secondary-color;
  display: flex;
  flex-wrap: wrap;

  &__header {
    width: 100%;
    margin-bottom: .5rem;
    text-align: center;
  }

  &__input {
    width: auto;
    margin: .3rem;
    padding: .1rem .3rem;
  }

  &__button {
    margin: .3rem;
    padding: .1rem .3rem;
  }
}