* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: darkslategray;
  color: #f2f2f2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown {
  display: flex;
}

.time {
  margin: 15px;
}