* {
  font-family: monospace;
}

body {
  background-color: #111;
  color: #fff;
  text-align: center;
}

button {
  background: #ddd;
  padding: 0.4em .7em;
  border: none;
  outline: none;
  transition: all 0.3s ease;
}

button:hover {
  background: #fff;
  padding: 0.4em 1em;
  cursor: pointer;
  transition: all 0.3s ease;
}